POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=security_app
POSTGRES_PORT=5433

REDIS_PORT=6379

BACKEND_PORT=4000
NGROK_AUTHTOKEN=3Byh6wqCe9eYuwO6sUN9AshKMZ0_6L8ao5mNigqXgo2uy2qKe
NGROK_WEB_PORT=4040
